*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: black;
    color: white;

}

.container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction:column;
    background-color: rgb(32, 32, 32);
    
}

.image{
    border-radius: 50%;
}

.location{

}

.description{

}

.github{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.FEmentor{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.Linkedin{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.x{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.ig{
    background-color: grey;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}